.missao {
  font-weight: bold;
  color: black;
  background-color: gold;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.servicos {
  font-weight: bold;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.contato {
  font-weight: bold;
  color: white;
  background-color: grey;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.carousel {
  background-color: grey; 
}

.map-responsive {
  margin-top: 25px;
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
  text-align: center;
}

.map-responsive iframe{
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  }