*{
  font-family: "Inter", sans-serif;
}

@media (max-width: 1024px) {
  .hide-on-mobile {
    display: none;
  }
}

.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 56%;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-button img {
  margin-right: 10px;
}

.missao {
  font-weight: bold;
  color: black;
  background-color: #FCC43C;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 40vh;
  align-content: center;
}

.missao h1, .servicos h1, .contato h1{
  font-weight: 700;
}

.missao p{
  font-size: 1.8rem;
  background: none;
  font-weight: 500;
}

.servicos {
  font-weight: bold;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.servicos-texto{
  flex-wrap: wrap;
  gap: 3rem;
}

.servicos-texto div.item-servico{
  width: 30% !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos-texto div.item-servico p{
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  font-weight: 400;
}

#contato{
  background: #363435;
  padding: 6rem 0 0 0;
}

.contato {
  font-weight: bold;
  color: white;
  background-color: grey;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#contato .hide-on-mobile{
  width: 30%;
}

#contato .area-wp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contato h1{
  margin-bottom: 3rem;
}

.carousel {
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.Mapa{
  margin-top: 4rem;
}

.map-responsive {
  margin-top: 25px;
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.map-responsive iframe{
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  }

  .center {
    text-align: center;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
  }

  p {
    margin: 20px;
    border-radius:10%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  /* ATUALIZANDO LUAN */

  /* #363435 */

  header nav{
    background: #363435;
  }

  header nav .container{
    display: flex;
    justify-content: space-between;
  }

  div#responsive-navbar-nav{
    justify-content: flex-end !important;
  }

  .navbar-expand-lg .navbar-nav{
    margin: 0 !important;
    gap: 3rem;
  }

  .navbar-expand-lg .navbar-nav a h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  div.carousel.slide{
    padding: 0;
  }

  #img-carousel{
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
 
  .footer{
    background: #FCC43C;
    height: 5vh;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer p{
    margin: 0;
    padding: 0;
  }