.missao {
  font-weight: bold;
  color: black;
  background-color: gold;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.servicos {
  font-weight: bold;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 30px;
}